.blog {
  background-color: $white;
  display: grid;
  grid-template-columns: repeat(1fr);

  @include breakpoints-up(lg) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));

  }

  &__blogpost {
    color: $veryDarkerBlue;
    text-align: center;
    // width: 100%;
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;

    @include breakpoints-up(med) {
      padding: 0 2vw;

      &:nth-child(odd) {
        border-right: 2px solid $lightGray;
      }
    }



    h2 {
      font-size: clamp($font-medium, 7vw, $font-xxlarge);
      text-transform: uppercase;
      margin-top: 1.813rem;
      margin-bottom: 1.813rem;
      color: $veryDarkerBlue;

      @include breakpoints-up(med) {
        font-size: clamp($font-medium, 3vw, $font-xxlarge);
      }
    }

    p {
      line-height: 2;
      margin: 1.563rem 0;
      font-family: $bodyFont;
      word-spacing: 5px;
      text-align: left;

      @include breakpoints-up(lg) {
        padding: 0 0rem;
      }
    }

    img {
      display: block;
      width: 100%;
    }

    .btn {
      margin-top: 1rem;
    }
  }
}