.hero {
  position: relative;
  background-image: linear-gradient(rgba(21, 29, 41, 0.848), rgb(23, 26, 31)), url(../../img/bg.jpg);
  min-height: 100vh;
  background-size: 350% 180%;
  background-position: top center;

  @include breakpoints-up(med) {
    background-size: cover;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


  .nav {
    position: absolute;
    top: 1rem;
    right: 1.063rem;

    @include breakpoints-up(med) {
      order: 3;
      position: static;
      background-color: transparent;

      width: 80%;
    }

    &__menu {
      transform: translateX(100%);
      color: $black;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 30%;
      text-align: left;
      transition: transform 300ms ease-in-out;
      background-color: $white;
      list-style: none;
      box-shadow: -8px 10px 28px -7px rgba(0, 0, 0, 0.38);
      -webkit-box-shadow: -8px 10px 28px -7px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: -8px 10px 28px -7px rgba(0, 0, 0, 0.38);

      @include breakpoints-up(med) {
        transform: translateX(0);
        position: static;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
      }
    }



    &__item {

      margin: 0 2rem;
      padding: 1rem 0;

      &:not(:last-of-type) {
        border-bottom: 2px solid $lightGray;

        @include breakpoints-up(med) {
          border: none;
        }
      }



      @include breakpoints-up(med) {
        margin: 0;
        padding: 2.5rem 1rem;

        &:first-of-type {
          background: $white;

          a {
            color: $black;
          }
        }

      }

    }

    &__link {
      // color: $black;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $headingFont;
      font-weight: bolder;
      font-size: $font-medium;

      &:hover {
        color: $veryDarkerBlue;
      }

      @include breakpoints-up(med) {
        color: $white;



        &:hover {
          color: $white;
        }

      }
    }

    &__social {
      margin: 2rem;
      display: flex;

      @include breakpoints-up(med) {
        margin-left: auto;
      }

      a {
        text-decoration: none;
        color: $black;

        @include breakpoints-up(med) {
          color: $white;
        }

        &:hover {
          color: $veryDarkerBlue;
          transform: scale(1.07);

          @include breakpoints-up(med) {
            color: $white;
          }
        }
      }

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 2px solid $lightGray;
        padding: .9rem;
        margin-right: .7rem;

        @include breakpoints-up(med) {
          border: none;
        }
      }
    }

    .close {
      text-align: right;
      padding: 1rem 1rem 0 0;
      cursor: pointer;

      i {
        font-size: large;
        color: $gray;

      }

      @include breakpoints-up(med) {
        display: none;
      }
    }



    &__menu--button {

      @include breakpoints-up(med) {
        display: none;
      }

      cursor: pointer;
      font-family: $headingFont;
      font-size: $font-small;
      font-weight: bold;
      user-select: none;

      i {
        margin-right: 0.5rem;
      }
    }

  }

  &__text {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-family: $headingFont;
      font-size: clamp($font-xxlarge, 7vw, $font-xxxlarge);
      text-transform: uppercase;
      margin-bottom: 1.25rem;
    }

    p {
      font-family: $bodyFont;
      line-height: 2;
      color: $white;
      text-align: center;

      @include breakpoints-up(lg) {
        padding: 0 10rem;
      }

      a {
        color: $white;
      }
    }
  }

  .arrow-down {
    display: none;

    @include breakpoints-up(med) {
      display: grid;
      place-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: transparent;
      border: 2px solid $white;
      margin-bottom: 4rem;
    }
  }
}