// colors
$white: #ffffff;
$black: #000000;
$veryDarkBlue: #212931;
$veryDarkerBlue: #1e252d;
$lightGray: #eeeeee;
$veryLightGray: #f5f5f5;
$gray: #909498;
$darkGray: #717981;

// fonts
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$bodyFont: "Merriweather", Georgia, serif;
$font-small: 12.5px;
$font-medium: 16px;
$font-xxlarge: 4rem;
$font-xxxlarge: 80px;